
<h3>Order du color aleatoire : </h3>
<span *ngFor="let item of dataCards.colorsOrder">
   {{ item }} |
</span>
<p></p>
<h3>Order des valeurs aleatoire : </h3>
<span *ngFor="let item of dataCards.valuesOrder">
  {{ item }}|
</span>
<p></p>
<h3>Main de 10 carte aleatoire : </h3>
<span *ngFor="let item of dataCards.randomHand">
  ({{ item. color}}|{{ item. value}})
</span>
<p></p>
<h3>Main de 10 carte triée : </h3>
<span *ngFor="let item of dataCards.sortedCards">
  ({{ item. color}}|{{ item. value}})
</span>
